//- block
.sidebar
	//- block
	form.filter
		//- block
		.input-btn-list
			//- block
			!= partial('./includes/input-btn/_input-btn')
		!= partial('./includes/parameter/_parameter')
		!= partial('./includes/btn/_btn')
		



