.nav-list {
	float: left;
	display: flex;
	align-items: center;
}

.nav-list > .nav-listitem {
	position: relative;
	color: #d4d4d4;
	height: 100%;
	margin-right: 1.875em;
	> .nav-listitem-link {
		color: currentColor;
		font-size: 1.4rem;
		font-weight: 700;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
		&:hover {
			color: #292929;
		}
	}
	> .notifications {
		width: 19px;
		height: 21px;
	}
	> .profile {
		width: 26px;
		height: 26px;
	}
}