.container
	.card-block
		img.card-image(src="assets/images/card-image.png")
		.card
			.tag
				p.tag-label Article
			h3.card-title Music sync made easy, at your choice.
			p.card-text The hardest thing that nobody understood why it is not as easy as drinking water
	.card-block
		.card
			.tag
				p.tag-label Article
			h3.card-title Music sync made easy, at your choice.
			p.card-text The hardest thing that nobody understood why it is not as easy as drinking water
	.card-block
		.card.card-green
			.tag.tag-green
				p.tag-label Article
			h3.card-title Music sync made easy, at your choice.
			p.card-text The hardest thing that nobody understood why it is not as easy as drinking water

