@import "--disabled/--disabled.scss";


.btn__item {
	width: 100%; 
	height: 56px;
	padding-left: 30px;
	background-color: #FF5A24;
	border-radius: 3px;
	border: none;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #edf1f5;
	color: #fff;
	text-align: center;
	font-size: 2.2rem;
	font-family: 'Source Sans Pro';
	font-weight: 700;
	text-shadow: -2px 0 rgba(0, 0, 0, 0.2); 
}