@import "__icon/__icon";
@import "__label/__label";
@import "__item/__item";
@import "__item/--hidden/--hidden";



.input-btn {
	flex: 1 0;
	height: 100%;
	padding: 12px 10px; 
	margin: 0;
	-webkit-appearance: none;
	background: #fff;
	border: none;
	box-shadow: 0 1px 1px  rgba(0, 0, 0, 0.2);
	text-align: center;
	&:nth-child(even) {
	}
	&:first-child {
		border-radius: 3px 0 0 3px;	
	}
	&:last-child {
		border-radius: 0 3px 3px 0;

	}
}